:root {
    --text: #000000;
    --background: #ffffff;
    --primary: #fff447;
    --primary-light: #fffa4a;
    --secondary: #dedede;
    --accent: #787878;
    font-family: 'Roboto', sans-serif;
    background-color: #eeeeee;
    
}

/*Fonts
font-family: 'Bebas Neue', sans-serif;
font-family: 'Roboto', sans-serif;*/
/* CSS RESET
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }





  header {
    background-color: var(--primary);
    width: 100%;
    height: 10vh;
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 2vw;
    z-index: 0;
    
  }

  header #title-container{
    margin: 0;
    overflow: hidden;
  }

  header div a{
    text-decoration: none;
    color:#000000;
    display: block;
    font-size: 1.2rem;
  }

  header form {
    height: 75%;
    
  }

  header form input {
    height: 100%;
    background-color: var(--primary-light);
    border: 0px;
  }

  #content {
    max-width: 750px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 1px 18px 3px rgba(0,0,0,0.21);;
  }

  h3 {
    font-size: 1.5rem;
    text-align: left;
  }

  h4 {
    font-size: 1rem;
  }

  h3::before{
    content: "| ";
    color: var(--primary);
    padding-left: 2.5vw;
    font-size: 1.5em;

  }


  #featured-review {
    height: 50vh;
    width:auto;
    margin: 2.5vh 0vw;
    
  }

  #featured-review img {
    height: 100%;
    margin: auto;
  }

  .scroll-menu{
    
    overflow: auto;
    white-space:nowrap;
    margin: 20px 0;
  }

  .scroll-menu .movie-item-small {
    display: inline-block; 
    margin: 10px 20px;
  }
  
  .scroll-menu img {
    height: 250px;
    width: auto;
    object-fit: cover;

  }



  article {
    text-align: center;
    background-color: var(--secondary);
    padding:  1vh 5vw;
    font-size: 1rem;
  }

  article h3 {
    
    font-size: 2rem;
  }

  article h4 {
    padding: 1vh 0vw;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2em;
    text-align: left;
  }

  article p {
    padding-bottom: 15px;
    font-size: 1.2em;
    text-align: justify;
  }

  button {
    border: none;
    background-color: var(--primary);
    font-size: 1.3rem;
    font-family: 'Bebas Neue', sans-serif;

    width: 75%;
    height: 5vh;
    margin: 2vh 0vw;
  }

  button:hover{
    background-color: var(--background);
    cursor: pointer;
  }

  /* Reviews page*/

  #movie-review-info {
    display: flex;
    padding: 20px;

  }

  #movie-review-info #movie-text-wrapper{
    text-align: left;
  }

  #movie-review-info img {
    width: 300px;
    height: 300px;
    object-fit:contain;
  }